<!DOCTYPE html>
<html>   
  <body>
    <%= render partial: 'layouts/navbar' %>
    <section class="section">
      <h1 class="title has-text-centered">Editar Mi Perfil</h1>
      <div class="container has-background-link px-6 py-6" style="max-width: 30rem; border-radius: 5%">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email, class: "label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.label :password, class: "label" %> <p class="help">(leave blank if you don't want to change it)</p>
            <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
            <% if @minimum_password_length %>
              <p class="help"><%= @minimum_password_length %> characters minimum</p>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, class: "label" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
          </div>

          <div class="field">
            <%= f.label :current_password, class: "label" %> <p class="help">(we need your current password to confirm your changes)</p>
            <%= f.password_field :current_password, autocomplete: "current-password", class: "input" %>
          </div>

          <div class="actions has-text-centered">
            <%= f.submit "Actualizar", class: "button is-light is-responsive" %>
          </div>
        <% end %>

        <p class="has-text-centered">o</p>

        <div class="has-text-centered">
          <%= button_to "Eliminar mi Cuenta", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "button is-danger is-responsive"%>
        </div>

      </div>
    </section>
  </body>
</html>