<!DOCTYPE html>   
<html>   
  <body> 
    <%= render partial: 'layouts/navbar' %>
      
    <div class="columns is-gapless">
      
      <div class="column has-background-white" style="height: 58.4rem;">
        
        <!-- <div>
          <%= turbo_stream_from "users" %>
          <div id="users">
            <%= render @users %>
          </div>
        </div> -->
        <div>
          <%= turbo_stream_from "users" %>
          <div class="section" id="users">
            <h4 class="title has-text-centered mt-2 has-text-black"> Users </h4>
            <% @users.each do |user| %>
              <div class="is-flex-direction-column has-background-link my-2 px-3 py-3" style="border-radius: 0%;">
                <%= link_to user.email, user, class: "has-text-light" %>
              </div>
            <% end %>
          </div>
        </div>
        
        
        <!-- <div>
          <%= turbo_stream_from "rooms" %>
          <div id="rooms">
            <%= render @rooms %>
          </div>
        </div> -->
        <h4 class="title has-text-centered has-text-black"> Crea un Grupo </h4>
        <%= render partial: "layouts/new_room_form" %>
        <div>
          <%= turbo_stream_from "rooms" %>
          <div class="section" id="rooms">
            <h4 class="title has-text-centered mt-2 has-text-black"> Grupos </h4>
            <% @rooms.each do |room| %>
              <div class="is-flex-direction-column my-2 has-text-centered" style="border-radius: 0%;">
                <%= link_to room.name, room, class: "button is-link has-text-light", style: "min-width: 17rem;" %>
              </div>
            <% end %>
          </div>
        </div>

      </div>

      <div class="column is-four-fifths">
        <% if @single_room %>
          <h4 class="title has-text-centered mt-6"> <%= @user&.email || @single_room.name %> </h4>
          <%= turbo_stream_from @single_room %>
          <div id="messages">
            <%= render @messages %>
          </div>
          <%= render partial: 'layouts/new_message_form' %>
        <% end %>
      </div>
    </div>

  </body>
</html>